.pokemon {
  border : 1px solid black;
  border-radius: 20px;
  margin-top: 30px;
  padding: 20px;
}

.col-4 {
  text-align: right;
  white-space: nowrap;
}

i {
  font-size: 4em;
  padding: 20px;
}

.badge {
  padding: 1em 2em;
}


