<app-list-loader [isLoading]="isLoading"></app-list-loader>

<div class="container pokemon" *ngFor="let pokemon of pokemons">
  <div class="row">
    <div class="col-8" >
      <h2>{{ pokemon.name }}</h2>
      <ng-container *ngIf="pokemon.data">
        <span class="badge rounded-pill bg-primary" *ngFor="let type of pokemon.data?.types">{{ type.type.name }}</span>
      </ng-container>

    </div>
    <div class="col-4">
      <i class="bi bi-star-fill" (click)=goToPokemon()></i>
      <app-list-loader [isLoading]="!pokemon?.data"></app-list-loader>
      <img
      *ngIf="pokemon?.data"
      [src]="pokemon?.data?.sprites.front_default"
      class="img-fluid rounded-start"
      />
    </div>
  </div>
</div>
