/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

h1 {
  text-align: center;
}

body {
  background-color:#2a9d8f;
  font-family: 'Play' ;
}

$pokemon-type-colors: (
  grass: green,
  fire: orange,
  water: blue,
  poison: purple,
);

.pokemon-background-type {
  background-color: grey;
}

@each $name, $hex in $pokemon-type-colors {
  .pokemon-background-type-#{$name} {
    background-color: $hex;
  }
}

